*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txt{
    font-size: 94px;
    font-weight: 400;
}
.outputDate{
    font-size: 24px;
    font-weight: 400;
}